In [1]:
import logging
import threading
import time

def thread_function(name):
    logging.info("Thread %s: starting", name)
    time.sleep(2)
    logging.info("Thread %s: finishing", name)

if __name__ == "__main__":
    format = "%(asctime)s: %(message)s"
    logging.basicConfig(format=format, level=logging.INFO,
                        datefmt="%H:%M:%S")

    logging.info("Main    : before creating thread")
    x = threading.Thread(target=thread_function, args=(1,))
    logging.info("Main    : before running thread")
    x.start()
    logging.info("Main    : wait for the thread to finish")
    # x.join()
    logging.info("Main    : all done")

07:41:59: Main    : before creating thread
07:41:59: Main    : before running thread
07:41:59: Thread 1: starting
07:41:59: Main    : wait for the thread to finish
07:41:59: Main    : all done

07:42:01: Thread 1: finishing

In [37]:
import yfinance as yf
from datetime import timedelta, datetime

a = yf.Ticker("AAPL")
a.info["currentPrice"]
#a.fast_info["lastPrice"]

171.77

In [47]:
l = [1,2,3]
for i in range(3):
    print(i)

c = 0
if not(c):
    print("0 é False")

0
1
2
0 é False

In [49]:
if not(None):
    print("None é falso")

None é falso

In [26]:
data = yf.download(['META'], period='max', group_by='ticker')
data.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2012-05-18  42.049999  45.000000  38.000000  38.230000  38.230000  573576400
2012-05-21  36.529999  36.660000  33.000000  34.029999  34.029999  168192700
2012-05-22  32.610001  33.590000  30.940001  31.000000  31.000000  101786600
2012-05-23  31.370001  32.500000  31.360001  32.000000  32.000000   73600000
2012-05-24  32.950001  33.209999  31.770000  33.029999  33.029999   50237200

In [28]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", period="max")

[*********************100%***********************]  1 of 1 completed